<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"	
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="vehicle" class="me.alokdev.springcore.Bike"></bean>

	<bean id="price" class="me.alokdev.springcore.Price" p:cost="25646" />


	<bean id="engine" class="me.alokdev.springcore.Engine">
		<property name="type" value="Petrol"></property>
	</bean>


	<bean id="tyre" class="me.alokdev.springcore.Tyre">
		<constructor-arg value="Honda"></constructor-arg>
		<constructor-arg value="12" />
	</bean>
</beans>